.poppins {
  font-family: "Poppins", sans-serif;

  font-style: normal;
}
.sora {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
@keyframes slide-left {
  0% { transform: translateX(100%); opacity: 0; }
  10% { transform: translateX(0); opacity: 1; }
  90% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(-100%); opacity: 0; }
}

.animate-slide-left {
  animation: slide-left 3s forwards;
}
.animated-slide-right{
  animation: slide-right 3s forwards;
}
@keyframes slide-right {
  0% { transform: translateX(-100%); opacity: 0; }
  10% { transform: translateX(0); opacity: 1; }
  90% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(100%); opacity: 0; }
}